
@font-face {
    font-family: "mx-font-icon";
    src: url("mx-font-icon.eot?3199f20363dfc6421f1ec3f1bb449540?#iefix") format("embedded-opentype"),
url("mx-font-icon.woff?3199f20363dfc6421f1ec3f1bb449540") format("woff");
    font-weight: normal;
    font-style: normal;
}

 .mx:before {
   display: inline-block;
   font-family: "mx-font-icon";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.mx-cursor-question:before {
	content: "\f101";
}
.mx-satellite:before {
	content: "\f102";
}

