# settings
settings/config-local.R
settings/sshConfig
settings/mapx-gmail.json
figure
cache
# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# packrate
packrat/lib*/
.DS_Store
.Rproj.user
tests/testthat/packrat/
packrat-scenario*/
# libre office temp file
.~lock*
# node modules
www/node_modules
# vagrant
vagrant/.vagrant/
vagrant/vagrant.log
vagrant/receipts/*
vagrant/passwords/generated/*
vagrant/pgdump/*
