.mx-accordion-header {
  text-align: center;
}
.mx-accordion-header  a{
  color: white;
  text-decoration: none;
}
.mx-accordion-header  a:hover {
  border-bottom:1px solid white;
}

.mx-accordion-group {
  padding:10px;
}

.mx-accordion-item {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;
    padding: 10px;
    background-repeat:no-repeat,no-repeat;
    background-image: 
    url(../img/input_border_side_white.png), 
    url(../img/input_border_side_white.png), 
    url(../img/input_border_side_white.png), 
    url(../img/input_border_side_white.png); 
    background-position: top left, top right, bottom right, bottom left;
}
.mx-accordion-content {
  
}

.mx-accordion-title {
    font-size: medium;
    text-transform: uppercase;
}
