
html {
  top:0px;
height:100%;
}
body { 
top:0;
min-height:100%;
background:rgba(229, 229, 229, 0.96);;
}

#mapxMap { 
  top:0;
  
  min-height: 100vh;
height: 100vh;
}



/*
body {
  padding: 0;
  margin: 0;
}
html, body, #mapxMap {
  height: 100%;
  width: 100%;
}
*/

div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select, .leaflet-control { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}


.leaflet-control {
border-radius : 0px;
}
